@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Viaoda Libre", cursive;
}

a {
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}

img {
	width: 100%;
	height: auto;
}
