
@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Viaoda Libre", cursive;

	overflow: hidden;
	background-color: black;
}

a {
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}

img {
	width: 100%;
	height: auto;
}

svg {
	width: 100%;
	
}
